

<h3 style="text-align:center">Updates inventory for a given SKU and warehouse.</h3>
<h6 style="text-align: center;">Updates inventory by searching through SKU and warehouse.</h6>



    <ui5-input [(ngModel)]="accountName" id="accountI" placeholder="accountName*" origami></ui5-input>


    <ui5-input [(ngModel)]="environment" id="environmentI" placeholder="environment*" origami></ui5-input>


    <ui5-input  [(ngModel)]="skuId" id="skuI"  placeholder="skuId*" origami></ui5-input>

    <ui5-input id="skuButton" [(ngModel)]="warehouseId" id="warehouseI" placeholder="warehouseId*" origami></ui5-input>


    <ui5-input [(ngModel)]="vtexApiKey" placeholder="vtexApikey*" id="apiKeyI" origami></ui5-input>


    <ui5-input [(ngModel)]="vtexApiToken" placeholder="vtexApiToken*" id="apiTokenI" origami></ui5-input>

    <br>
    <br>


  <ui5-label style="margin-left: 2%;" class="samples-big-margin-right" for="myInput" required show-colon>Upload File</ui5-label>
  <br>
  <ui5-button style="margin-left: 2%"><input type="file" (change) = "handleUpload($event)"></ui5-button>
  <br>
  <ui5-button style="margin-left: 2%; margin-top:2%" class="boton2"><a  (click)= "setInventory(chunk)">Enviar</a></ui5-button>
