

#accountI{
  margin-left: 2%;
}

#environmentI{
  margin-left: 1%;
}
#orderI{
  margin-left: 1%;
}
#warehouseI{
  margin-left: 1%;
}
#maxLotI{
  margin-left: 1%;
}
#skuI{
  margin-left: 1%;
}
#apiKeyI{
  margin-left: 1%;
}
#apiTokenI{
  margin-left: 2%;
  margin-top: 1%;
} 

.boton2{
  margin-left: 2%;
}
