/* .imagen
{
    background-image: url('../../assets/cohete.png');
    width: 100%;
    height: 80%;
} */
/* .contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
} */
/* .texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#botonFeed{
    position: absolute;
    margin-top: 21%;
    right: 50%;
    left: 45%;
    width: 45%;
    transform: translate(-50%, -50%);
    background-color: #0096cc;
    border-radius: 4px;
}

#botonCsv{
    position: absolute;
    margin-top: 24%;
    right: 50%;
    left: 45%;
    width: 45%;
    transform: translate(-50%, -50%);
    background-color: #0096cc;
    border-radius: 4px;
}
.texto{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.feedForm{

    position: absolute;
    top: 60%;
    right: 50%;
    left: 55%;
    width: 100%;
    transform: translate(-50%, -50%);

} */


#accountI{
  margin-left: 2%;
}

#environmentI{
  margin-left: 1%;
}
#orderI{
  margin-left: 1%;
}

#maxLotI{
  margin-left: 1%;
}
#apiKeyI{
  margin-left: 1%;
}
#apiTokenI{
  margin-left: 2%;
  margin-top: 1%;
}

.boton2{
  margin-left: 2%;
}
