<!-- <div class="contenedor"> -->
    <!-- <img style="width: 100%;" src="../../assets/cohete.png"> -->

    <!-- <h2 class="centrado">Feed</h2>
    <h3 class="texto">Retrieve items from feed queue.</h3>
      <div class="feedForm">
        <div class="row" id="row">
          <div class="col s10">
            <div class="row">
              <div class="input-field col s4">
                <i class="material-icons prefix" style="color:white;">person</i>
                <input type="text" id="autocomplete-input" style="color: white;" class="autocomplete"  [(ngModel)]="account">
                <label for="autocomplete-input">AccountName*</label>
              </div>
              <div class="input-field col s4">
                  <i class="material-icons prefix" style="color: white;">public</i>
                  <input type="text" id="autocomplete-input" class="autocomplete" style="color: white;"  [(ngModel)]="environment">
                  <label for="autocomplete-input">Environment*</label>
                </div>
                <div class="input-field col s4">
                  <i class="material-icons prefix" style="color: white;">request_quote</i>
                  <input type="text" id="autocomplete-input" class="autocomplete" style="color: white;"  [(ngModel)]="maxLot">
                  <label for="autocomplete-input">Max Lot*</label>
                </div>
                <div class="input-field col s4">
                  <i class="material-icons prefix" style="color: white;">vpn_key</i>
                  <input type="text" id="autocomplete-input" class="autocomplete" style="color: white;" input [(ngModel)]="vtexApiKey">
                  <label for="autocomplete-input">X-VTEX-API-AppKey</label>
                </div>
                <div class="input-field col s4">
                  <i class="material-icons prefix" style="color: white;">token</i>
                  <input type="text" id="autocomplete-input" class="autocomplete" style="color: white;"  [(ngModel)]="vtexApiToken">
                  <label for="autocomplete-input">X-VTEX-API-AppToken</label>
                </div>
            </div>
          </div>
        </div>
        <div>
          <button class="waves-effect waves-light btn"  id="botonFeed" (click) ="obtenerFeed()">Consultar feed</button>
          <button class="waves-effect waves-light btn"  id="botonCsv" >Generar csv</button>
          <div>
            <div class="col s9 m6" style="margin-right: 10%;">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Feed</span>
                  <p>En estos momentos el feed está vacío.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
</div>


 -->


 <h3 style="text-align: center;">Feed</h3>

 <h6 style="text-align: center;">Retrieve items from feed queue.</h6>

 <ui5-input [(ngModel)]="account" id="accountI" placeholder="accountName*" origami></ui5-input>

 <ui5-input [(ngModel)]="environment" id="environmentI" placeholder="environment*" origami></ui5-input>

 <ui5-input [(ngModel)]="maxLot" id="maxLotI" placeholder="maxLot*" origami></ui5-input>

 <ui5-input [(ngModel)]="vtexApiKey" id="apiKeyI" placeholder="vtexApikey*" origami></ui5-input>

 <ui5-input [(ngModel)]="vtexApiToken" id="apiTokenI" placeholder="vtexApiToken*" origami></ui5-input>
 <br>
 <br>
 <ui5-button class="boton2" (click)="obtenerFeed()">Consultar Feed</ui5-button>
 <br>
