<!-- <img id="imagen-cancel" src="../../assets/cancel-order.png"> -->
<!-- <div class="row" id="row">
    <div class="col s10">
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">person</i>
          <input type="text" id="autocomplete-input" class="autocomplete" input [(ngModel)]="account">
          <label for="autocomplete-input">AccountName*</label>
        </div>
        <div class="input-field col s4">
            <i class="material-icons prefix">public</i>
            <input type="text" id="autocomplete-input" class="autocomplete" input [(ngModel)]="environment">
            <label for="autocomplete-input">Environment*</label>
          </div>
          <div class="input-field col s4">
            <i class="material-icons prefix">request_quote</i>
            <input type="text" id="autocomplete-input" class="autocomplete" input [(ngModel)]="orderId">
            <label for="autocomplete-input">OrderId*</label>
          </div>
          <div class="input-field col s4">
            <i class="material-icons prefix">vpn_key</i>
            <input type="text" id="autocomplete-input" class="autocomplete" input [(ngModel)]="vtexApiKey">
            <label for="autocomplete-input">X-VTEX-API-AppKey</label>
          </div>
          <div class="input-field col s4">
            <i class="material-icons prefix">token</i>
            <input type="text" id="autocomplete-input" class="autocomplete" input [(ngModel)]="vtexApiToken">
            <label for="autocomplete-input">X-VTEX-API-AppToken</label>
          </div>
          <div class="input-field col s4">
            <i class="material-icons prefix">exit_to_app</i>
            <input type="text" id="autocomplete-input" class="autocomplete" input [(ngModel)]="reason">
            <label for="autocomplete-input">Reason</label>
          </div>
      </div>
    </div>
  </div>
  <a class="waves-effect waves-light btn"  id="boton2" (click)="cancelOr()">cancel order</a> -->

  <h3 style="text-align: center;">Cancel order</h3>
  <h6 style="text-align: center;">You should use this integration to cancel an order by its order identification number (the orderId).</h6>

  <ui5-input [(ngModel)]="account" id="accountI" placeholder="accountName*" origami></ui5-input>

  <ui5-input [(ngModel)]="environment" id="environmentI" placeholder="environment*" origami></ui5-input>

  <ui5-input [(ngModel)]="orderId" id="orderI" placeholder="order Id*" origami></ui5-input>

  <ui5-input [(ngModel)]="vtexApiKey" id="apiKeyI" placeholder="vtexApikey*" origami></ui5-input>

  <ui5-input [(ngModel)]="vtexApiToken" id="apiTokenI" placeholder="vtexApiToken*" origami></ui5-input>

  <ui5-input [(ngModel)]="reason" id="reasonI" placeholder="Reason*" origami></ui5-input>
  <br>
  <br>
  <ui5-button class="boton2" design="Negative" (click)= "cancelOr()">Cancel</ui5-button>
  <br>


