
  <nav>
    <div class="nav-wrapper" style ="background-color: white;" >
      <a routerLink='/home'>
        <img src="../../assets/mqa.png" style="width: 7%;" alt="" class="circle responsive-img"/>
     </a>
    </div>
  </nav>

<ul id="slide-out" class="sidenav" >
    <li><div class="user-view">
      <div class="background">

      </div>
      <a href="#user"><img class="circle" src="../../assets/mqaNegativo.png" style="width: 100%;height: 100%;background-color: #0096cc;" ></a>

    </div></li>
    <li style="margin-top: 20px;"><a href="/feed" routerLink="/feed" >Feed Api</a></li>
    <li><a href="/start-handling" routerLink="/start-handling">Start Handling Api</a></li>
    <li><a href="/invoice" routerLink="/invoice">Invoice Api</a></li>
    <li><a href="/cancel-order" routerLink="cancel-order">Cancel Api</a></li>
    <li><a href="/get-order" routerLink="get-order">Get Order Api</a></li>
  </ul>
  <a href="#" data-target="slide-out" id="trigger" class="sidenav-trigger" ><a class="waves-effect waves-light btn" id="trigger" style="margin-top: 0.5%;">Catalog Api</a></a>

